
    body {
        width: 100%;
        background-color: #FFFFFF;
        margin: 0;
        padding: 0;
        -webkit-font-smoothing: antialiased;
        font-family: 'Prompt', sans-serif;
      }
  
      table {
        border-collapse: collapse;
      }
  
      img {
        border: 0;
        outline: none !important;
      }
  
      .hideDesktop {
        display: none;
      }
  
      /********* CTA Style - fixed padding *********/
  
      .cta-shadow {
        padding: 14px 35px;
        -webkit-box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.2);
        -moz-border-radius: 25px;
        -webkit-border-radius: 25px;
        font-size: 16px;
        font-weight: normal;
        letter-spacing: 0px;
        text-decoration: none;
        display: block;
      }
  
      body[yahoo] .hideDeviceDesktop {
        display: none;
      }
  
      @media only screen and (max-width: 640px) {
  
        div[class=mobilecontent] {
          display: block !important;
          max-height: none !important;
        }
  
        body[yahoo] .fullScreen {
          width: 100% !important;
          padding: 0px;
          height: auto;
        }
  
        body[yahoo] .halfScreen {
          width: 50% !important;
          padding: 0px;
          height: auto;
        }
  
        body[yahoo] .mobileView {
          width: 100% !important;
          padding: 0 4px;
          height: auto;
        }
  
        body[yahoo] .center {
          text-align: center !important;
          height: auto;
        }
  
        body[yahoo] .hideDevice {
          display: none;
        }
  
        body[yahoo] .hideDevice640 {
          display: none;
        }
  
        body[yahoo] .showDevice {
          display: table-cell !important;
        }
  
        body[yahoo] .showDevice640 {
          display: table !important;
        }
  
  
        body[yahoo] .googleCenter {
          margin: 0 auto;
        }
  
        .mobile-LR-padding-reset {
          padding-left: 0 !important;
          padding-right: 0 !important;
        }
        .side-padding-mobile {
          padding-left: 40px;
          padding-right: 40px;
        }
        .RF-padding-mobile {
          padding-top: 0 !important;
          padding-bottom: 25px !important;
        }
        .wrapper {
          width: 100% !important;
        }
        .two-col-above {
          display: table-header-group;
        }
        .two-col-below {
          display: table-footer-group;
        }
        .hideDesktop {
          display: block !important;
        }
      }
  
      @media only screen and (max-width: 520px) {
        .mobileHeader {
          font-size: 50px !important;
        }
        .mobileBody {
          font-size: 16px !important;
        }
        .mobileSubheader {
          font-size: 30px !important;
        }
      }
  
      @media only screen and (max-width: 479px) {
  
        body[yahoo] .fullScreen {
          width: 100% !important;
          padding: 0px;
          height: auto;
        }
  
        body[yahoo] .mobileView {
          width: 100% !important;
          padding: 0 4px;
          height: auto;
        }
  
        body[yahoo] .center {
          text-align: center !important;
          height: auto;
        }
  
        body[yahoo] .hideDevice {
          display: none;
        }
  
        body[yahoo] .hideDevice479 {
          display: none;
        }
  
        body[yahoo] .showDevice {
          display: table-cell !important;
        }
  
        body[yahoo] .showDevice479 {
          display: table !important;
        }
  
        .mobile-LR-padding-reset {
          padding-left: 0 !important;
          padding-right: 0 !important;
        }
        .side-padding-mobile {
          padding-left: 40px;
          padding-right: 40px;
        }
        .RF-padding-mobile {
          padding-top: 0 !important;
          padding-bottom: 25px !important;
        }
        .wrapper {
          width: 100% !important;
        }
        .two-col-above {
          display: table-header-group;
        }
        .two-col-below {
          display: table-footer-group;
        }
        .mobileButton {
          width: 150px !important !
        }
  
      }
  
      @media only screen and (max-width: 385px) {
        .mobileHeaderSmall {
          font-size: 18px !important;
          padding-right: none;
        }
        .mobileBodySmall {
          font-size: 14px !important;
          padding-right: none;
        }
      }
  
      /* Stops automatic email inks in iOS */
  
      a[x-apple-data-detectors] {
  
        color: inherit !important;
  
        text-decoration: none !important;
  
        font-size: inherit !important;
  
        font-family: inherit !important;
  
        font-weight: inherit !important;
  
        line-height: inherit !important;
  
      }
  
      a[href^="x-apple-data-detectors:"] {
        color: inherit;
        text-decoration: inherit;
      }
  
      .footerLinks {
        text-decoration: none;
        color: #384049;
        font-family: 'LyftPro-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 12px;
        line-height: 18px;
        font-weight: normal;
      }
  
      /*******Some Clients do not support rounded borders (example: older versions of Outlook)**********/
  
      .roundButton {
        border-radius: 5px;
      }
  
      /************************* Fixing Auto Styling for Gmail*********************/
  
      .contact a {
        color: #00000 !important !;
        text-decoration: none;
      }
  
      u+#body a {
        color: inherit;
        text-decoration: none;
        font-size: inherit;
        font-family: inherit;
        font-weight: inherit;
        line-height: inherit;
      }
